.anbarAddData {
	width: 100vw;
	height: 100vh;
	background-color: $secondary-color;
	position: relative;

	.anbarAdd-container {
		position: relative;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		overflow-y: hidden;
		transition: 0.4s;
		filter: brightness(100%);

		.anbarAddInfo {
			pointer-events: none;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 10000000;
			width: 35%;
			height: 35%;

			.closedState {
				pointer-events: all;
				$circle-radius: 140px;
				position: absolute;
				top: -$circle-radius / 2;
				right: -$circle-radius / 2;
				width: $circle-radius;
				height: $circle-radius;
				border-radius: 50%;
				background-color: white;
				opacity: 1;
				transition: 0.5s all, 0.4s background-color;
				cursor: pointer;

				&:hover {
					background-color: #0088a9;

					img {
						transform: scale(1.1) translate(-20%, -75%);
					}
				}

				img {
					position: absolute;
					top: 80%;
					left: 22%;
					transform: translate(-20%, -78%);
					user-select: none;
					width: 40px;
					transition: 0.2s;
					opacity: 1;
				}
			}

			.closedState[data-isClicked="True"] {
				width: 100%;
				height: 100%;
				background-color: #0088a9;
				border-radius: 0;
				border-bottom-left-radius: 30%;
				top: 0;
				right: 0;

				img {
					opacity: 0;
					pointer-events: none;
				}
			}

			.openedState {
				pointer-events: none;
				opacity: 0;
				position: absolute;
				top: 0;
				right: 0;
				background-color: #0088a9;
				width: 100%;
				height: 100%;
				overflow: hidden;
				border-bottom-left-radius: 20%;
				transition: 0.2s;

				.container {
					padding: 20px;

					h1 {
						width: 100%;
						text-align: center;
						color: white;
						font-size: 1.5rem;
						font-weight: 500;
						padding-bottom: 25px;
					}

					ul {
						position: relative;
						left: 7px;
						width: 100%;
						text-align: center;

						li {
							color: black;
							font-size: 1.1rem;
							font-weight: 300;
							transition: 0.3s;
							cursor: default;
							list-style: disc;
							padding-bottom: 5px;

							&:hover {
								color: white;
							}
						}
					}
				}
			}

			.openedState[data-isClicked="True"] {
				opacity: 1;
				pointer-events: all;
				z-index: 100000;
			}
		}

		#optionsMenu {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1000000;

			.optionsBtn {
				position: absolute;
				top: 0;
				left: 0;
				width: 0;
				height: 0;
				opacity: 0;
				background-color: $stand-out-color;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				transition: 0.5s all, 0.6s left;
				cursor: pointer;

				img {
					width: 65%;
					transition: 0.4s;
				}

				&:hover {
					background-color: $stand-out-color;

					img {
						transform: scale(1.1);
					}
				}
			}

			.optionsBtn[data-isActive="True"] {
				transition: 0.5s all, 0.6s left;
				width: 35px;
				height: 35px;
				opacity: 1;
			}
			#optionsNew[data-isActive="True"] {
				top: -40px;
			}
			#optionsDelete[data-isActive="True"] {
				left: 33px;
				top: -10px;
			}
			#optionsAccept[data-isActive="True"] {
				top: 20px;
			}
			#optionsEndAll[data-isActive="True"] {
				left: -33px;
				top: -10px;
			}
			#optionsEdit[data-isActive="True"] {
				left: -33px;
				top: -10px;
			}

			.optionsBtn[data-isActive="False"] {
				transition: 0s;
			}
		}

		.bulks {
			width: 100%;
			height: 50%;
			background: transparent;
			padding-top: 15px;
			overflow: hidden;

			.bulksSmallMenu {
				display: flex;
				justify-content: center;
				align-items: center;

				.bulksDate {
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 40%;

					.groupDate {
						display: inherit;
						justify-content: space-around;
						align-items: center;

						p {
							color: $dark-color;
							font-size: 1.3rem;
							font-weight: 700;
							user-select: none;
							margin-right: 5px;
						}

						input {
							outline: none;
							background-color: transparent;
							color: $dark-color;
							border: 2px solid $dark-color;
							font-size: 1.1rem;
							font-weight: bold;
							transition: 0.2s all, 0.4s transform;
							width: 70%;
							cursor: pointer;

							&:hover {
								color: $stand-out-color;
								border: 2px solid $stand-out-color;
								transform: scale(1.1);
							}
						}
					}
				}
			}

			.bulks-table {
				padding-top: 15px;
				width: 100%;
				height: 100%;
				overflow-y: scroll;
				overflow-x: hidden;
				transition: 0.4s;
				position: relative;

				&::-webkit-scrollbar {
					width: 10px;
				}
				/* Track */
				&::-webkit-scrollbar-track {
					box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
					border-radius: 10px;
					border-radius: 10px;
				}
				/* Handle */
				&::-webkit-scrollbar-thumb {
					border-radius: 10px;
					border-radius: 10px;
					background: $stand-out-color;
					box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
				}

				.anbarAddBulksTable {
					width: 100%;
					border-collapse: collapse;
					position: relative;

					thead {
						th {
							cursor: default;
							font-size: 1.4rem;
							padding: 10px 0;

							border-top: 2px solid black;
							border-bottom: 3px solid black;
							border-right: 2px solid black;

							background-color: $primary-color;
						}
					}
					tbody {
						tr {
							// height: 60px;
							background-color: $secondary-color-shade1;
							transition: 0.2s;

							td {
								padding: 5px 10px;
								text-align: center;
								font-size: 1.1rem;
								cursor: default;
								user-select: none;
								color: #000;
								transition: 0.2s;

								border-top: 2px solid black;
								border-bottom: 2px solid black;
								border-left: 2px solid rgb(36, 36, 36);
								border-right: 2px solid rgb(36, 36, 36);

								&:last-child {
									border-right: none;
								}
							}

							&:nth-child(odd) {
								background-color: $secondary-color-shade2;
							}

							&:hover {
								background-color: $primary-color-shade1;

								td {
									color: $secondary-color;
								}
							}
						}

						tr[data-isSelected="True"] {
							background-color: $primary-color-shade1 !important;

							td {
								color: white !important;
							}
						}
						tr[data-isSelected2="True"] {
							background-color: $stand-out-color;
						}

						.single-bulk {
							td {
								cursor: pointer;
							}
						}
					}
				}
			}

			.addNewBulkForm {
				position: absolute;
				top: 40%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 1000000000000;
				width: 30%;
				height: 40%;
				opacity: 0;
				transition: 0.4s;
				border-radius: 25px;
				background-color: $primary-color;
				display: none;
				flex-direction: column;
				justify-content: space-around;
				align-items: center;

				h1 {
					color: white;
					font-weight: bold;
					letter-spacing: 1px;
					font-size: 1.7rem;
					padding: 15px 0;
				}

				.container {
					display: flex;
					flex-direction: column;
					align-items: center;
					flex-grow: 1;

					.row {
						padding: 15px 0;
						width: 100%;
						display: flex;
						justify-content: space-around;
						align-items: center;

						p {
							color: white;
							font-size: 1.1rem;
							font-weight: 500;
							user-select: none;
							margin-right: 5px;
						}

						input {
							outline: none;
							background-color: transparent;
							color: white;
							border: 2px solid white;
							font-size: 1.1rem;
							font-weight: 500;
							transition: 0.2s all, 0.4s transform;
							width: 60%;
							padding: 0 10px;
							cursor: pointer;

							&:hover {
								color: $stand-out-color;
								border: 2px solid $stand-out-color;
								transform: scale(1.1);
							}
						}
						select {
							outline: none;
							font-size: 1.1rem;
							font-weight: 500;
							padding: 2px 7px;
						}

						button {
							font-size: 1.3rem;
							font-weight: 500;
							background-color: rgb(32, 32, 32);
							border: 2px solid rgb(32, 32, 32);
							color: white;
							padding: 5px 20px;
							transition: 0.3s;
							cursor: pointer;
							outline: none;

							&:hover {
								transform: scale(1.1);
							}
						}

						#addNewBulkSubmitBtn {
							background-color: red;
							border: 2px solid red;
						}
					}
				}
			}
		}

		.moveableBorder {
			position: relative;
			width: 100%;
			height: 4px;
			background-color: transparent;
			cursor: ns-resize;
			z-index: 100;
		}

		.sessions {
			// Try add 'position: relative;' in case of bugs with movable border
			top: -4px;
			width: 100%;
			flex-grow: 1;
			border-top: 3px solid black;
			background: $secondary-color-blured;
			height: 20%;

			#defaultSessionsText {
				z-index: 0;
				position: absolute;
				top: 70%;
				left: 50%;
				transform: translate(-50%, -50%);
				user-select: none;
				color: rgb(231, 228, 228);
				font-size: 1.5rem;
				text-shadow: 2px 2px 8px rgb(121, 117, 117), -2px -2px 8px rgb(255, 255, 255);
				transition: 0.4s;
				opacity: 1;
			}

			#defaultSessionsText[data-isTableShowing="True"] {
				opacity: 0;
			}

			.sessions-table {
				z-index: 10;
				// padding-top: 15px;
				width: 100%;
				height: 100%;
				overflow-y: scroll;
				overflow-x: hidden;
				transition: 0.4s;
				position: relative;

				&::-webkit-scrollbar {
					width: 10px;
				}
				/* Track */
				&::-webkit-scrollbar-track {
					box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
					border-radius: 10px;
					border-radius: 10px;
				}
				/* Handle */
				&::-webkit-scrollbar-thumb {
					border-radius: 10px;
					border-radius: 10px;
					background: $stand-out-color;
					box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
				}

				.anbarAddSessionsTable {
					width: 100%;
					border-collapse: collapse;
					position: relative;

					thead {
						th {
							cursor: default;
							font-size: 1.4rem;
							padding: 5px 0;
							user-select: none;

							border-top: 2px solid black;
							border-bottom: 3px solid black;
							border-right: 2px solid black;

							background-color: $primary-color;
						}
					}
					tbody {
						tr {
							// height: 60px;
							background-color: $secondary-color-shade1;
							transition: 0.4s;

							td {
								padding: 5px 10px;
								text-align: center;
								font-size: 1.1rem;
								cursor: default;
								user-select: none;
								color: #000;
								font-weight: 500;

								border-top: 2px solid black;
								border-bottom: 2px solid black;
								border-left: 2px solid rgb(36, 36, 36);
								border-right: 2px solid rgb(36, 36, 36);

								&:last-child {
									border-right: none;
								}
							}

							&:nth-child(odd) {
								background-color: $secondary-color-shade2;
							}

							&:hover {
								background-color: $primary-color-shade1;

								td {
									color: $secondary-color;
								}
							}
						}

						tr[data-isSelected="True"] {
							background-color: rgb(129, 148, 158) !important;

							td {
								color: black;
							}
						}

						.bulk-session {
							td {
								cursor: pointer;
							}
						}
					}
				}
			}

			.addNewSessionForm {
				position: absolute;
				top: 40%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 1000000000000;
				width: 30%;
				height: 35%;
				opacity: 0;
				transition: 0.4s;
				border-radius: 25px;
				background-color: $primary-color;
				display: none;
				pointer-events: none;
				flex-direction: column;
				justify-content: space-around;
				align-items: center;

				h1 {
					color: white;
					font-weight: bold;
					letter-spacing: 1px;
					font-size: 1.7rem;
					padding: 15px 0;
				}

				.container {
					display: flex;
					flex-direction: column;
					align-items: center;
					flex-grow: 1;

					.row {
						padding: 15px 0;
						width: 100%;
						display: flex;
						justify-content: space-around;
						align-items: center;

						p {
							color: white;
							font-size: 1.1rem;
							font-weight: 500;
							user-select: none;
							margin-right: 5px;
						}

						input {
							outline: none;
							background-color: transparent;
							color: white;
							border: 2px solid white;
							font-size: 1.1rem;
							font-weight: 500;
							transition: 0.2s all, 0.4s transform;
							width: 60%;
							padding: 0 10px;
							cursor: pointer;

							&:hover {
								color: $stand-out-color;
								border: 2px solid $stand-out-color;
								transform: scale(1.1);
							}
						}

						button {
							font-size: 1.3rem;
							font-weight: 500;
							background-color: rgb(32, 32, 32);
							border: 2px solid rgb(32, 32, 32);
							color: white;
							padding: 5px 20px;
							transition: 0.3s;
							cursor: pointer;
							outline: none;

							&:hover {
								transform: scale(1.1);
							}
						}

						#addNewSessionSubmitBtn {
							background-color: red;
							border: 2px solid red;
						}
					}
				}
			}
		}

		.session-info {
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			pointer-events: none;
			transition: 0.6s;
			z-index: 10000;
			background-color: $stand-out-color;

			#sessionInfoPageHeading {
				font-size: 1.6rem;
				position: absolute;
				top: 13px;
				left: 20px;
			}

			#sessionInfoGoBackBtn {
				position: absolute;
				top: 10px;
				right: 20px;
				font-size: 1.2rem;
				font-weight: bold;
				z-index: 100000;
				cursor: pointer;
				outline: none;
				display: inline-block;
				padding: 0.35em 1.2em;
				border: 0.1em solid $dark-color;
				margin: 0 0.3em 0.3em 0;
				border-radius: 0.12em;
				color: $dark-color;
				text-align: center;
				transition: 0.2s;
				background-color: transparent;

				&:hover {
					color: $primary-color;
					background-color: $dark-color;
					// border: 0.1em solid $secondary-color;
				}
			}

			.session-info-table {
				padding-top: 60px;
				width: 100%;
				height: 100%;
				overflow-y: scroll;
				overflow-x: hidden;
				transition: 0.4s;
				position: relative;

				&::-webkit-scrollbar {
					width: 10px;
				}
				/* Track */
				&::-webkit-scrollbar-track {
					box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
					border-radius: 10px;
					border-radius: 10px;
				}
				/* Handle */
				&::-webkit-scrollbar-thumb {
					border-radius: 10px;
					border-radius: 10px;
					background: $primary-color;
					box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
				}

				.anbarAddSessionInfoTable {
					width: 100%;
					border-collapse: collapse;
					position: relative;

					thead {
						th {
							cursor: default;
							font-size: 1.3rem;
							padding: 10px 0;

							border-top: 2px solid black;
							border-bottom: 3px solid black;
							border-right: 2px solid black;

							background-color: $secondary-color;
						}
					}
					tbody {
						tr {
							// height: 60px;
							background-color: $secondary-color-shade1;
							transition: 0.2s;

							td {
								padding: 5px 10px;
								text-align: center;
								font-size: 1.1rem;
								cursor: default;
								user-select: none;
								color: $dark-color;
								transition: 0.2s;

								border-top: 2px solid black;
								border-bottom: 2px solid black;
								border-left: 2px solid rgb(36, 36, 36);
								border-right: 2px solid rgb(36, 36, 36);

								&:last-child {
									border-right: none;
								}
							}

							&:nth-child(odd) {
								background-color: $secondary-color-shade2;
							}

							&:hover {
								background-color: $primary-color-shade1;

								td {
									color: $secondary-color;
								}
							}
						}

						.single-session-info {
							td {
								cursor: pointer;
							}
						}
					}
				}
			}

			.addNewSessionInfoForm {
				position: absolute;
				top: 45%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 1000000000000;
				width: 550px;
				height: fit-content;
				opacity: 0;
				transition: 0.4s;
				border-radius: 25px;
				background-color: $primary-color;
				display: none;
				pointer-events: none;
				flex-direction: column;
				justify-content: space-around;
				align-items: center;

				h1 {
					color: white;
					font-weight: bold;
					letter-spacing: 1px;
					font-size: 1.6rem;
					padding: 10px 0;
				}

				.container {
					display: flex;
					flex-direction: column;
					align-items: center;
					flex-grow: 1;

					.row {
						padding: 10px 0;
						width: 100%;
						display: flex;
						justify-content: space-around;
						align-items: center;

						.column {
							padding-right: 25px;

							.columnElement {
								display: flex;
								flex-direction: column;
								justify-content: space-around;
								align-items: center;
								padding-bottom: 10px;

								p {
									left: -4px;
									display: flex;
									align-self: flex-start;
								}
								input {
									width: 80%;
								}

								input[type="date"] {
									width: 100%;
									color: $secondary-color;
									border: 2px solid $secondary-color;
									cursor: pointer;

									&:hover {
										color: $stand-out-color;
										border: 2px solid $stand-out-color;
										transform: scale(1.1);
									}
								}

								select {
									width: 100%;
									font-weight: 500;
									font-size: 1.1rem;
									padding: 1px 2px;
									background-color: transparent;
									border: 2px solid $secondary-color;
									transition: 0.3s;
									color: $secondary-color;
									outline: none;

									&:hover {
										transform: scale(1.1);
										border: 2px solid $stand-out-color;
									}
									option {
										background-color: rgb(41, 40, 40);
									}
								}
							}
						}

						p {
							color: #000;
							font-size: 1.1rem;
							font-weight: 500;
							user-select: none;
							position: relative;
							left: 10px;
						}

						input {
							outline: none;
							background-color: transparent;
							color: white;
							border: 2px solid transparent;
							border-bottom: 2px solid white;
							font-size: 1.1rem;
							font-weight: 500;
							transition: 0.4s;
							width: 60%;
							padding: 0 10px;

							&::placeholder {
								color: $dark-color;
							}

							&:hover {
								border-bottom: 2px solid $stand-out-color;
							}

							&:valid {
								border-bottom: 2px solid $stand-out-color;
							}

							&:invalid {
								border-bottom: 2px solid red;
							}
						}
						input[type="number"]::-webkit-outer-spin-button,
						input[type="number"]::-webkit-inner-spin-button {
							-webkit-appearance: none;
							margin: 0;
						}

						textarea {
							resize: none;
							height: 80px;
							width: 80%;
							outline: none;
							background-color: transparent;
							border: 2px solid $secondary-color;
							padding: 7px;
							color: $secondary-color;
							font-size: 1.1rem;
							font-weight: 500;

							&::placeholder {
								color: $dark-color;
							}
						}

						button {
							font-size: 1.3rem;
							font-weight: 500;
							background-color: rgb(32, 32, 32);
							border: 2px solid rgb(32, 32, 32);
							color: white;
							padding: 5px 20px;
							transition: 0.3s;
							cursor: pointer;
							outline: none;

							&:hover {
								transform: scale(1.1);
							}
						}

						#addNewSessionInfoSubmitBtn {
							background-color: red;
							border: 2px solid red;
						}

						.addNewSessionInfoProductSearchBarcodeDropDown {
							z-index: 1000000 !important;
						}
						.addNewSessionInfoProductSearchDropDown,
						.addNewSessionInfoProductSearchBarcodeDropDown {
							width: 60%;
							position: relative;
							z-index: 10000000;

							input {
								width: 100%;
							}
							input:valid:hover ~ .dropdown {
								display: block;
							}
							.dropdown:hover {
								display: block;
							}

							.dropdown {
								width: 100%;
								background-color: rgba(0, 0, 0, 0.897);
								border: 2px solid #000;
								border-top: none;
								display: none;
								position: absolute;

								.containerDropdown {
									max-height: 300px;
									overflow-y: scroll;
									overflow-x: hidden;

									&::-webkit-scrollbar {
										width: 10px;
									}
									/* Track */
									&::-webkit-scrollbar-track {
										box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
										border-radius: 10px;
										border-radius: 10px;
									}
									/* Handle */
									&::-webkit-scrollbar-thumb {
										border-radius: 10px;
										border-radius: 10px;
										background: $stand-out-color;
										box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
									}

									p {
										color: white;
										width: 100%;
										padding: 7px 0 7px 1px;
										transition: 0.3s;
										cursor: pointer;

										&:hover {
											color: #0088a9;
										}
									}
								}

								button {
									width: 100%;

									&:hover {
										background-color: rgb(121, 121, 121);
										transform: scale(1);
										border: 2px solid rgb(121, 121, 121);
									}
								}
							}
						}
					}

					#addNewSessionInfoBtnsRow {
						justify-content: space-around;
					}
				}
			}
		}

		.session-info[data-isActive="true"] {
			top: 0;
			opacity: 1;
			pointer-events: all;
		}

		.createProductContainer {
			position: absolute;
			top: 45%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			padding: 10px 0;
			width: 660px;
			height: 600px;
			background-color: $primary-color;
			z-index: 100000000;
			border: 1px solid $dark-color;
			box-shadow: 0px 0px 22px 19px rgba(0, 0, 0, 0.75);
			transition: 0.4s;
			opacity: 0;
			pointer-events: none;

			hr {
				width: 100%;
			}

			h1 {
				color: #000;
				font-weight: bold;
				letter-spacing: 1px;
				font-size: 1.9rem;
				padding: 10px 0;
			}

			.container {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				flex-grow: 1;

				.row {
					padding: 10px 0;
					width: 100%;
					display: flex;
					justify-content: center;
					align-items: center;

					h2 {
						font-size: 1.1rem;
						font-weight: 500;
						color: #000;
						margin-bottom: 5px;
					}

					input[type="date"] {
						width: 200px;
						color: white;
						border: 2px solid white !important;
						cursor: pointer;

						&:hover {
							color: $stand-out-color;
							border: 2px solid $stand-out-color !important;
						}
					}

					p {
						color: #000;
						font-size: 1.1rem;
						font-weight: 500;
						user-select: none;
						position: relative;
						left: 10px;
						margin-right: 20px;
					}

					input {
						outline: none;
						background-color: transparent;
						color: white;
						border: 2px solid transparent;
						border-bottom: 2px solid white;
						font-size: 1.1rem;
						font-weight: 500;
						transition: 0.4s;
						width: 270px;
						padding: 0 10px;

						&:hover {
							border-bottom: 2px solid $stand-out-color;
						}

						&:valid {
							border-bottom: 2px solid $stand-out-color;
						}

						&:invalid {
							border-bottom: 2px solid red;
						}

						&::placeholder {
							color: rgb(201, 201, 201);
						}
					}
					input[type="number"]::-webkit-outer-spin-button,
					input[type="number"]::-webkit-inner-spin-button {
						-webkit-appearance: none;
						margin: 0;
					}

					button {
						padding: 5px 15px;
						outline: none;
						transition: 0.3s;
						font-size: 1.3rem;
						cursor: pointer;
						font-weight: bold;

						&:hover {
							transform: scale(1.1);
						}

						&:nth-child(1) {
							color: white;
							background: red;
							margin-right: 25px;
						}

						&:nth-child(2) {
							color: $dark-color;
							background: $secondary-color;

							&:hover {
								background: $stand-out-color;
							}
						}
					}

					.warehouseCategoryDrowdown,
					.warehouseClustersDrowdown,
					.warehouseClusterDefaultDrowdown {
						width: 270px;
						position: relative;

						input {
							width: 100%;
						}
						input:hover ~ .dropdown {
							display: block;
						}
						.dropdown:hover {
							display: block;
						}

						.dropdown {
							width: 100%;
							background-color: rgba(0, 0, 0, 0.877);
							border: 2px solid $secondary-color;
							border-top: none;
							display: none;
							position: absolute;
							z-index: 100000;

							.containerDropdown {
								max-height: 300px;
								overflow-y: scroll;
								overflow-x: hidden;

								&::-webkit-scrollbar {
									width: 10px;
								}
								/* Track */
								&::-webkit-scrollbar-track {
									box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
									border-radius: 10px;
									border-radius: 10px;
								}
								/* Handle */
								&::-webkit-scrollbar-thumb {
									border-radius: 10px;
									border-radius: 10px;
									background: $anbar-info-tree-view-scrollbar-color;
									box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
								}

								p {
									color: white;
									width: 100%;
									padding: 7px 0 7px 1px;
									transition: 0.3s;
									cursor: pointer;

									&:hover {
										color: #0088a9;
									}
								}
							}

							button {
								width: 100%;

								&:hover {
									background-color: rgb(121, 121, 121);
									transform: scale(1);
									border: 2px solid rgb(121, 121, 121);
								}
							}
						}
					}
					.warehouseClustersDrowdown {
						width: fit-content;

						.dropdown {
							.containerDropdown {
								max-height: 130px;
							}
						}
					}

					.newClusterTemplateContainer {
						display: flex;
						flex-direction: column;
						align-items: center;
						height: 200px;
						overflow-y: scroll;

						&::-webkit-scrollbar {
							width: 10px;
						}
						/* Track */
						&::-webkit-scrollbar-track {
							box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
							border-radius: 10px;
							border-radius: 10px;
						}
						/* Handle */
						&::-webkit-scrollbar-thumb {
							border-radius: 10px;
							border-radius: 10px;
							background: $anbar-info-tree-view-scrollbar-color;
							box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
						}

						.clusterTemplateElement {
							margin: 10px 0;
							transition: 0.4s;
							opacity: 1;
							display: flex;
							align-items: center;
							justify-content: space-around;
							background: white;
							border-radius: 25px;
							padding: 5px 15px;
							width: 480px;

							.item {
								display: flex;
								justify-content: center;
								align-items: center;

								input {
									margin-left: 5px;
									width: fit-content;
								}
							}

							p {
								color: black;
								margin-right: 10px;
							}
							input {
								text-align: center;
								font-weight: bold;
								color: black;

								&::placeholder {
									color: rgb(78, 78, 78);
								}
							}
							input[type="text"] {
								width: 140px;
								margin-right: 7px;
							}
							input[type="number"] {
								width: 100px;
							}
							img {
								cursor: pointer;
								width: 25px;
								margin-right: 5px;
								margin-left: 5px;
								transition: 0.3s;

								&:hover {
									transform: scale(1.1);
								}
							}
						}
					}
				}

				.row.kek {
					display: flex;
					justify-content: space-around;
					align-items: center;
					.block {
						display: flex;
						justify-content: center;
						align-items: center;

						p {
							margin-right: 0;
							left: 0;
						}

						input {
							width: 140px;
						}
					}
				}

				.row.special {
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					align-items: center;
				}
			}
		}
	}

	.cstmAlertBox {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1000000000000;
		opacity: 0;
		transition: 0.4s;
		border-radius: 25px;
		background-color: $primary-color;
		display: none;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;

		.up {
			display: flex;
			flex-direction: column;
			align-items: center;

			.alertTitle {
				font-size: 1.7rem;
				font-weight: bold;
				color: white;
				padding-bottom: 15px;
			}
			p {
				font-size: 1.1rem;
				color: white;
				text-align: center;
			}
		}

		.down {
			display: flex;
			justify-content: space-around;
			align-items: center;
			width: 60%;

			button {
				font-size: 1.3rem;
				font-weight: 500;
				background-color: rgb(32, 32, 32);
				border: 2px solid rgb(32, 32, 32);
				color: white;
				padding: 5px 20px;
				transition: 0.3s;
				cursor: pointer;
				outline: none;

				&:hover {
					transform: scale(1.1);
				}
			}

			#alertYes {
				background-color: red;
				border: 2px solid red;
			}
		}
	}
}
