$overall-data-show-top-shift: -50px;
$overall-data-animation-time: 0.4s;
$overall-data-fade-in-animation-delay: $overall-data-animation-time + 0.1;

$overall-box-top-shift: -30px;
$overall-box-left-shift: 70px;
$overall-box-animation-time: 0.6s;
$overall-box-fade-out-animation-delay: $overall-data-fade-in-animation-delay;

.anbarInfo {
	background-color: $anbar-info-background-color;
	display: flex;
	position: relative;
	// justify-content: space-between;

	.blur {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.507);
		z-index: -1000;
	}

	.editCategoryContainer {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding: 10px 0;
		align-items: center;
		width: 400px;
		height: 200px;
		background-color: $primary-color;
		z-index: 100000000;
		border: 1px solid $dark-color;
		box-shadow: 0px 0px 22px 19px rgba(0, 0, 0, 0.75);
		transition: 0.4s;
		opacity: 0;
		pointer-events: none;

		h1 {
			font-size: 1.7rem;
		}
		input {
			width: 90%;
			padding: 2px 5px;
			outline: none;
			font-size: 1.3rem;
			border: 2px solid $stand-out-color;
		}

		.row {
			width: 50%;
			display: flex;
			align-items: center;
			justify-content: space-between;

			button {
				padding: 7px 15px;
				outline: none;
				transition: 0.3s;
				cursor: pointer;
				font-weight: bold;

				&:hover {
					transform: scale(1.1);
				}

				&:nth-child(1) {
					color: white;
					background: red;
				}

				&:nth-child(2) {
					color: $dark-color;
					background: $secondary-color;

					&:hover {
						background: $stand-out-color;
					}
				}
			}
		}
	}

	.createCategoryContainer {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding: 10px 0;
		align-items: center;
		width: 400px;
		height: 200px;
		background-color: $primary-color;
		z-index: 100000000;
		border: 1px solid $dark-color;
		box-shadow: 0px 0px 22px 19px rgba(0, 0, 0, 0.75);
		transition: 0.4s;
		opacity: 0;
		pointer-events: none;

		h1 {
			font-size: 1.7rem;
		}
		input {
			width: 90%;
			padding: 2px 5px;
			outline: none;
			font-size: 1.3rem;
			border: 2px solid $stand-out-color;
		}

		.row {
			width: 40%;
			display: flex;
			align-items: center;
			justify-content: space-between;

			button {
				padding: 7px 15px;
				outline: none;
				transition: 0.3s;
				cursor: pointer;
				font-weight: bold;

				&:hover {
					transform: scale(1.1);
				}

				&:nth-child(1) {
					color: white;
					background: red;
				}

				&:nth-child(2) {
					color: $dark-color;
					background: $secondary-color;

					&:hover {
						background: $stand-out-color;
					}
				}
			}
		}
	}

	.editProductContainer {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		padding: 10px 0;
		width: 660px;
		height: 600px;
		background-color: $primary-color;
		z-index: 100000000;
		border: 1px solid $dark-color;
		box-shadow: 0px 0px 22px 19px rgba(0, 0, 0, 0.75);
		transition: 0.4s;
		opacity: 0;
		pointer-events: none;

		hr {
			width: 100%;
		}

		h1 {
			color: #000;
			font-weight: bold;
			letter-spacing: 1px;
			font-size: 1.9rem;
			padding: 10px 0;
		}

		.container {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			flex-grow: 1;

			.row {
				padding: 10px 0;
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;

				h2 {
					font-size: 1.1rem;
					font-weight: 500;
					color: #000;
					margin-bottom: 5px;
				}

				input[type="date"] {
					width: 200px;
					color: white;
					border: 2px solid white !important;
					cursor: pointer;

					&:hover {
						color: $stand-out-color;
						border: 2px solid $stand-out-color !important;
					}
				}

				p {
					color: #000;
					font-size: 1.1rem;
					font-weight: 500;
					user-select: none;
					position: relative;
					left: 10px;
					margin-right: 20px;
				}

				#edit_warehouseTreeInsert_expDateWarning {
					width: 140px !important;
				}
				input {
					outline: none;
					background-color: transparent;
					color: white;
					border: 2px solid transparent;
					border-bottom: 2px solid white;
					font-size: 1.1rem;
					font-weight: 500;
					transition: 0.4s;
					width: 270px;
					padding: 0 10px;

					&:hover {
						border-bottom: 2px solid $stand-out-color;
					}

					&:valid {
						border-bottom: 2px solid $stand-out-color;
					}

					&:invalid {
						border-bottom: 2px solid red;
					}

					&::placeholder {
						color: rgb(201, 201, 201);
					}
				}
				input[type="number"]::-webkit-outer-spin-button,
				input[type="number"]::-webkit-inner-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}

				button {
					padding: 5px 15px;
					outline: none;
					transition: 0.3s;
					font-size: 1.3rem;
					cursor: pointer;
					font-weight: bold;

					&:hover {
						transform: scale(1.1);
					}

					&:nth-child(1) {
						color: white;
						background: red;
						margin-right: 25px;
					}

					&:nth-child(2) {
						color: $dark-color;
						background: $secondary-color;

						&:hover {
							background: $stand-out-color;
						}
					}
				}

				.edit_warehouseCategoryDrowdown,
				.edit_warehouseClustersDrowdown,
				.edit_warehouseClusterDefaultDrowdown {
					width: 270px;
					position: relative;

					input {
						width: 100%;
					}
					input:hover ~ .dropdown {
						display: block;
					}
					.dropdown:hover {
						display: block;
					}

					.dropdown {
						width: 100%;
						background-color: rgba(0, 0, 0, 0.877);
						border: 2px solid $secondary-color;
						border-top: none;
						display: none;
						position: absolute;
						z-index: 100000;

						.containerDropdown {
							max-height: 300px;
							overflow-y: scroll;
							overflow-x: hidden;

							&::-webkit-scrollbar {
								width: 10px;
							}
							/* Track */
							&::-webkit-scrollbar-track {
								box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
								border-radius: 10px;
								border-radius: 10px;
							}
							/* Handle */
							&::-webkit-scrollbar-thumb {
								border-radius: 10px;
								border-radius: 10px;
								background: $anbar-info-tree-view-scrollbar-color;
								box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
							}

							p {
								color: white;
								width: 100%;
								padding: 7px 0 7px 1px;
								transition: 0.3s;
								cursor: pointer;

								&:hover {
									color: #0088a9;
								}
							}
						}

						button {
							width: 100%;

							&:hover {
								background-color: rgb(121, 121, 121);
								transform: scale(1);
								border: 2px solid rgb(121, 121, 121);
							}
						}
					}
				}
				.edit_warehouseClustersDrowdown {
					width: fit-content;

					.dropdown {
						.containerDropdown {
							max-height: 130px;
						}
					}
				}

				.edit_newClusterTemplateContainer {
					display: flex;
					flex-direction: column;
					align-items: center;
					height: 200px;
					overflow-y: scroll;

					&::-webkit-scrollbar {
						width: 10px;
					}
					/* Track */
					&::-webkit-scrollbar-track {
						box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
						border-radius: 10px;
						border-radius: 10px;
					}
					/* Handle */
					&::-webkit-scrollbar-thumb {
						border-radius: 10px;
						border-radius: 10px;
						background: $anbar-info-tree-view-scrollbar-color;
						box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
					}

					.edit_clusterTemplateElement {
						margin: 10px 0;
						transition: 0.4s;
						opacity: 1;
						display: flex;
						align-items: center;
						justify-content: space-around;
						background: white;
						border-radius: 25px;
						padding: 5px 15px;
						width: 480px;

						.item {
							display: flex;
							justify-content: center;
							align-items: center;

							input {
								margin-left: 5px;
								width: fit-content;
							}
						}

						p {
							color: black;
							margin-right: 10px;
						}
						input {
							text-align: center;
							font-weight: bold;
							color: black;

							&::placeholder {
								color: rgb(78, 78, 78);
							}
						}
						input[type="text"] {
							width: 140px;
							margin-right: 7px;
						}
						input[type="number"] {
							width: 100px;
						}
						img {
							cursor: pointer;
							width: 25px;
							margin-right: 5px;
							margin-left: 5px;
							transition: 0.3s;

							&:hover {
								transform: scale(1.1);
							}
						}
					}
				}
			}

			.row.kek {
				display: flex;
				justify-content: space-around;
				align-items: center;
				.block {
					display: flex;
					justify-content: center;
					align-items: center;

					p {
						margin-right: 0;
						left: 0;
					}

					#edit_warehouseTreeInsert_title {
						width: 240px !important;
					}
					input {
						width: 140px;
					}
				}
			}

			.row.special {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-items: center;
			}
		}
	}

	.createProductContainer {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		padding: 10px 0;
		width: 660px;
		height: 600px;
		background-color: $primary-color;
		z-index: 100000000;
		border: 1px solid $dark-color;
		box-shadow: 0px 0px 22px 19px rgba(0, 0, 0, 0.75);
		transition: 0.4s;
		opacity: 0;
		pointer-events: none;

		hr {
			width: 100%;
		}

		h1 {
			color: #000;
			font-weight: bold;
			letter-spacing: 1px;
			font-size: 1.9rem;
			padding: 10px 0;
		}

		.container {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			flex-grow: 1;

			.row {
				padding: 10px 0;
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;

				h2 {
					font-size: 1.1rem;
					font-weight: 500;
					color: #000;
					margin-bottom: 5px;
				}

				input[type="date"] {
					width: 200px;
					color: white;
					border: 2px solid white !important;
					cursor: pointer;

					&:hover {
						color: $stand-out-color;
						border: 2px solid $stand-out-color !important;
					}
				}

				p {
					color: #000;
					font-size: 1.1rem;
					font-weight: 500;
					user-select: none;
					position: relative;
					left: 10px;
					margin-right: 20px;
				}

				input {
					outline: none;
					background-color: transparent;
					color: white;
					border: 2px solid transparent;
					border-bottom: 2px solid white;
					font-size: 1.1rem;
					font-weight: 500;
					transition: 0.4s;
					width: 270px;
					padding: 0 10px;

					&:hover {
						border-bottom: 2px solid $stand-out-color;
					}

					&:valid {
						border-bottom: 2px solid $stand-out-color;
					}

					&:invalid {
						border-bottom: 2px solid red;
					}

					&::placeholder {
						color: rgb(201, 201, 201);
					}
				}
				input[type="number"]::-webkit-outer-spin-button,
				input[type="number"]::-webkit-inner-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}

				button {
					padding: 5px 15px;
					outline: none;
					transition: 0.3s;
					font-size: 1.3rem;
					cursor: pointer;
					font-weight: bold;

					&:hover {
						transform: scale(1.1);
					}

					&:nth-child(1) {
						color: white;
						background: red;
						margin-right: 25px;
					}

					&:nth-child(2) {
						color: $dark-color;
						background: $secondary-color;

						&:hover {
							background: $stand-out-color;
						}
					}
				}

				.warehouseCategoryDrowdown,
				.warehouseClustersDrowdown,
				.warehouseClusterDefaultDrowdown {
					width: 270px;
					position: relative;

					input {
						width: 100%;
					}
					input:hover ~ .dropdown {
						display: block;
					}
					.dropdown:hover {
						display: block;
					}

					.dropdown {
						width: 100%;
						background-color: rgba(0, 0, 0, 0.877);
						border: 2px solid $secondary-color;
						border-top: none;
						display: none;
						position: absolute;
						z-index: 100000;

						.containerDropdown {
							max-height: 300px;
							overflow-y: scroll;
							overflow-x: hidden;

							&::-webkit-scrollbar {
								width: 10px;
							}
							/* Track */
							&::-webkit-scrollbar-track {
								box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
								border-radius: 10px;
								border-radius: 10px;
							}
							/* Handle */
							&::-webkit-scrollbar-thumb {
								border-radius: 10px;
								border-radius: 10px;
								background: $anbar-info-tree-view-scrollbar-color;
								box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
							}

							p {
								color: white;
								width: 100%;
								padding: 7px 0 7px 1px;
								transition: 0.3s;
								cursor: pointer;

								&:hover {
									color: #0088a9;
								}
							}
						}

						button {
							width: 100%;

							&:hover {
								background-color: rgb(121, 121, 121);
								transform: scale(1);
								border: 2px solid rgb(121, 121, 121);
							}
						}
					}
				}
				.warehouseClustersDrowdown {
					width: fit-content;

					.dropdown {
						.containerDropdown {
							max-height: 130px;
						}
					}
				}

				.newClusterTemplateContainer {
					display: flex;
					flex-direction: column;
					align-items: center;
					height: 200px;
					overflow-y: scroll;

					&::-webkit-scrollbar {
						width: 10px;
					}
					/* Track */
					&::-webkit-scrollbar-track {
						box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
						border-radius: 10px;
						border-radius: 10px;
					}
					/* Handle */
					&::-webkit-scrollbar-thumb {
						border-radius: 10px;
						border-radius: 10px;
						background: $anbar-info-tree-view-scrollbar-color;
						box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
					}

					.clusterTemplateElement {
						margin: 10px 0;
						transition: 0.4s;
						opacity: 1;
						display: flex;
						align-items: center;
						justify-content: space-around;
						background: white;
						border-radius: 25px;
						padding: 5px 15px;
						width: 480px;

						.item {
							display: flex;
							justify-content: center;
							align-items: center;

							input {
								margin-left: 5px;
								width: fit-content;
							}
						}

						p {
							color: black;
							margin-right: 10px;
						}
						input {
							text-align: center;
							font-weight: bold;
							color: black;

							&::placeholder {
								color: rgb(78, 78, 78);
							}
						}
						input[type="text"] {
							width: 140px;
							margin-right: 7px;
						}
						input[type="number"] {
							width: 100px;
						}
						img {
							cursor: pointer;
							width: 25px;
							margin-right: 5px;
							margin-left: 5px;
							transition: 0.3s;

							&:hover {
								transform: scale(1.1);
							}
						}
					}
				}
			}

			.row.kek {
				display: flex;
				justify-content: space-around;
				align-items: center;
				.block {
					display: flex;
					justify-content: center;
					align-items: center;

					p {
						margin-right: 0;
						left: 0;
					}

					input {
						width: 140px;
					}
				}
			}

			.row.special {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-items: center;
			}
		}
	}

	#productOptionsMenu {
		position: absolute;
		transition: 0.3s opacity;
		height: fit-content;
		background-color: $secondary-color;
		z-index: 1000000;
		opacity: 0;
		pointer-events: none;

		ul {
			border: 1px solid $dark-color;

			li {
				border-bottom: 1px solid $dark-color;
				padding: 5px 10px;
				font-size: 1.1rem;
				color: $dark-color;
				cursor: pointer;
				color: #000;
				background-color: $secondary-color;
				transition: 0.2s;

				&:hover {
					color: white;
					background-color: $stand-out-color;
				}
			}
		}
	}

	#categoryOptionsMenu {
		position: absolute;
		transition: 0.3s opacity;
		height: fit-content;
		background-color: $secondary-color;
		z-index: 1000000;
		opacity: 0;
		pointer-events: none;

		ul {
			border: 1px solid $dark-color;

			li {
				border-bottom: 1px solid $dark-color;
				padding: 5px 10px;
				font-size: 1.1rem;
				color: $dark-color;
				cursor: pointer;
				color: #000;
				background-color: $secondary-color;
				transition: 0.2s;

				&:hover {
					color: white;
					background-color: $stand-out-color;
				}
			}
		}
	}

	.cstmAlertBox {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1000000000000;
		opacity: 0;
		transition: 0.4s;
		border-radius: 25px;
		background-color: $primary-color;
		display: none;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;

		.up {
			display: flex;
			flex-direction: column;
			align-items: center;

			.alertTitle {
				font-size: 1.7rem;
				font-weight: bold;
				color: white;
				padding-bottom: 15px;
			}
			p {
				font-size: 1.1rem;
				color: white;
				text-align: center;
			}
		}

		.down {
			display: flex;
			justify-content: space-around;
			align-items: center;
			width: 60%;

			button {
				font-size: 1.3rem;
				font-weight: 500;
				background-color: rgb(32, 32, 32);
				border: 2px solid rgb(32, 32, 32);
				color: white;
				padding: 5px 20px;
				transition: 0.3s;
				cursor: pointer;
				outline: none;

				&:hover {
					transform: scale(1.1);
				}
			}

			#alertYes {
				background-color: red;
				border: 2px solid red;
			}
		}
	}

	.treeViewContainer {
		background-color: $anbar-info-tree-view-background-color;
		overflow-y: scroll;
		overflow-x: hidden;
		direction: rtl;
		width: 360px;

		.searchContainer {
			position: sticky;
			top: 0;

			p {
				font-family: sans-serif;
				position: absolute;
				display: block;
				top: 50%;
				transform: translateY(-50%);
				right: 10px;
				font-size: 1.8rem;
				cursor: pointer;
				z-index: 100;
				color: $anbar-info-search-box-sign-color;
				transition: 0.4s;

				&:hover {
					color: $anbar-info-search-box-sign-hover-color;
				}
			}

			#searchInputBox {
				direction: ltr;
				width: 100%;
				padding: 10px;
				font-size: 0.8rem;
				outline: none;
				border: 3px solid $anbar-info-search-box-border-color;
				transition: 0.4s;
				background-color: $anbar-info-search-box-background-color;
				font-weight: 500;
				color: $anbar-info-search-box-text-color;

				&::placeholder {
					color: $anbar-info-search-box-placeholder-color;
					font-weight: bold;
				}

				&:focus,
				&:hover {
					border: 3px solid $anbar-info-search-box-border-hover-color;
				}
			}
		}
	}

	.data {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		border-left: 3px solid $anbar-info-data-dividing-line-color;

		.smallNav {
			background-color: $anbar-info-small-nav-background-color;
			position: relative;
			display: flex;
			align-items: center;
			padding: 0 7px;

			&::before {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 10;

				background-color: $anbar-info-small-nav-background-color;
			}

			#showOverallInfo,
			#hideShowTreeView,
			#expandTreeView,
			#closeTreeView {
				z-index: 100;
				border: 2px solid $anbar-info-small-nav-btn-border-color;
				background-color: $anbar-info-small-nav-btn-background-color;
				margin-right: 10px;

				&:hover {
					background-color: $anbar-info-small-nav-btn-background-hover-color;
				}

				&::after {
					background-color: $anbar-info-small-nav-btn-background-clicked-color;
				}

				p {
					color: $anbar-info-small-nav-btn-text-color;
				}
			}

			#showOverallInfo[data-isClicked="true"],
			#hideShowTreeView[data-isClicked="true"],
			#expandTreeView[data-isClicked="true"],
			#closeTreeView[data-isClicked="true"] {
				&::after {
					width: 230px;
					height: 230px;
				}

				border: 2px solid $anbar-info-small-nav-btn-border-clicked-color;

				p {
					color: $anbar-info-small-nav-btn-text-clicked-color;
				}
			}

			#showOverallInfo[data-isClicked="false"] {
				&::after {
					transition-delay: $overall-box-fade-out-animation-delay;
				}
			}
		}

		.screenInfo {
			flex-grow: 1;
			background-color: transparent;
			position: relative;
			z-index: 10;

			.info {
				z-index: -1;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;

				height: 40%;
				width: fit-content;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);

				padding: 20px 30px;

				p {
					user-select: none;
					color: $anbar-info-default-screeniInfo-info-text-color;
					font-size: 1.5rem;
					text-shadow: 2px 2px 8px rgb(121, 117, 117), -2px -2px 8px rgb(255, 255, 255);

					span {
						font-size: 1.5rem;
						font-weight: bold;
					}
				}

				.text {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
				}
			}

			.overall-info {
				flex-grow: 1;
				overflow: hidden;

				position: absolute;
				background-color: $anbar-info-overall-data-background-color;

				.overall-info-data {
					position: absolute;
					left: 0;
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;

					opacity: 0;
					pointer-events: none;

					h2 {
						padding: 15px;
						font-size: 1.9rem;
						color: $anbar-info-overall-data-header-text-color;
					}
					p {
						color: $anbar-info-overall-data-text-color;
						padding: 5px;
						font-size: 1.2rem;

						span {
							font-size: 1.3rem;
							font-weight: bold;
							color: $anbar-info-overall-data-values-color;
							transition: 0.2s;
							cursor: default;

							&:hover {
								color: $anbar-info-overall-data-values-hover-color;
							}
						}
					}

					.upper-text {
						width: 100%;
						height: 40%;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
					}

					.lover-text {
						height: 60%;
						display: flex;
						flex-direction: row;

						.left-text,
						.right-text {
							padding: 0 50px;
							display: flex;
							flex-direction: column;
							justify-content: flex-start;
							align-items: center;
						}
					}
				}
			}
			.overall-info[data-isShoving="true"] {
				animation: showAnimatedBox $overall-box-animation-time 1 forwards ease-in;

				.overall-info-data {
					pointer-events: all;
					animation: showOverallInfoData $overall-box-animation-time 1
						$overall-data-fade-in-animation-delay forwards;
				}
			}
			.overall-info[data-isShoving="false"] {
				width: 100%;
				height: 100%;
				animation: hideAnimatedBox $overall-box-animation-time
					$overall-box-fade-out-animation-delay 1 forwards;

				.overall-info-data {
					pointer-events: none;
					animation: hideOverallInfoData $overall-box-animation-time 1 forwards;
				}
			}

			@keyframes showAnimatedBox {
				from {
					top: $overall-box-top-shift;
					left: $overall-box-left-shift;
					width: 0;
					height: 0;
					border-radius: 50%;
				}
				to {
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					border-radius: 0;
				}
			}
			@keyframes hideAnimatedBox {
				from {
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					border-radius: 0;
				}
				to {
					top: $overall-box-top-shift;
					left: $overall-box-left-shift;
					width: 0;
					height: 0;
					border-radius: 30%;
				}
			}
			@keyframes showOverallInfoData {
				from {
					opacity: 0;
					top: $overall-data-show-top-shift;
				}
				to {
					opacity: 1;
					top: 0;
				}
			}
			@keyframes hideOverallInfoData {
				from {
					opacity: 1;
					top: 0;
				}
				to {
					opacity: 0;
					top: $overall-data-show-top-shift;
				}
			}
		}

		.singleProductInfo {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: $anbar-info-background-color;
			z-index: -1;

			opacity: 0;
			pointer-events: none;
			transition: 0.6s;

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.text-data {
				display: flex;
				flex-grow: 1;
				flex-direction: column;
				justify-content: space-around;
				align-items: center;
				// height: 30%;
				width: 100%;

				.row {
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: space-around;

					h2 {
						font-size: 1.8rem;
						color: black;
						user-select: none;

						span {
							font-size: 1.8rem;
						}
					}

					p {
						color: black;
						font-size: 1.4rem;
						user-select: none;

						span {
							font-size: 1.4rem;
						}
					}

					span {
						user-select: initial;
						color: $dark-color;
						transition: 0.2s;
						cursor: default;

						&:hover {
							color: $primary-color;
						}
					}
				}
			}

			.table-data {
				width: 100%;
				height: 30%;
				overflow-y: scroll;
				overflow-x: hidden;
				transition: 0.4s;
				position: relative;

				&:hover {
					height: 60%;
				}

				&::-webkit-scrollbar {
					width: 10px;
				}
				/* Track */
				&::-webkit-scrollbar-track {
					box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
					border-radius: 10px;
					border-radius: 10px;
				}
				/* Handle */
				&::-webkit-scrollbar-thumb {
					border-radius: 10px;
					border-radius: 10px;
					background: $anbar-info-tree-view-scrollbar-color;
					box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
				}

				.singleProductTable {
					width: 100%;
					border-collapse: collapse;
					position: relative;

					thead {
						th {
							cursor: default;
							font-size: 1.2rem;
							padding: 10px 5px;

							border-top: 2px solid black;
							border-bottom: 3px solid black;
							border-right: 2px solid black;

							background-color: $primary-color-shade1;
						}
					}
					tbody {
						tr {
							// height: 60px;
							background-color: $secondary-color-shade1;
							transition: 0.4s;

							td {
								padding: 5px 10px;
								text-align: center;
								font-size: 1.1rem;
								cursor: default;
								user-select: none;
								color: #000;

								border-top: 2px solid black;
								border-bottom: 2px solid black;
								border-left: 2px solid rgb(36, 36, 36);
								border-right: 2px solid rgb(36, 36, 36);

								&:last-child {
									border-right: none;
								}
							}

							&:nth-child(odd) {
								background-color: $secondary-color-shade2;
							}

							&:hover {
								background-color: $stand-out-color;
							}
						}
					}
				}
			}
		}
	}
}
