$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;

$color-alpha: #1772FF;
$color-form-highlight: black;


$session-table-header-background-color: #8d560d;
$session-table-row-bacground-color: white;

$session-info-table-header-background-color: #8d560d;
$session-info-table-row-bacground-color: white;

.anbarRemove{
  background-color: $anbar-info-background-color;
  display: flex;
  flex-direction: column;

  .sessionSelected{
    // border-color: rgb(52, 52, 160) !important;
    // box-shadow: 0px 0px 10px 10px rgba(54, 93, 219, 0.589);
    border-color: rgb(17, 17, 148) !important;
    box-shadow: 4px 4px 4px 0px rgba(1, 0, 66, 0.644);
    border-radius: 0 !important;
  }

  .sessionsPart{
    overflow: hidden;
    flex: 1;
    transition: ease-out 200ms;
    // &:hover{
    //   flex: 2;
    //   transition: ease-in 200ms;
    // }
    button.createSessionPartButton{
      font-size: 18px;
      background-color: rgb(143, 177, 240);
      padding: 10px;
      border: 1px solid black;
      cursor: pointer;
      margin-top: 10px;
      margin-left: 10px;
      outline: none;
    }
    .sessionSelectionPart{
      display: flex;
      flex-direction: column;
      align-items: center;
      .sessionsInputs{
        width: 45vw;
        display: flex;
        justify-content: space-between;
        margin: 5vh auto;
        .sessionsInputBlock{
          display: flex;
          flex-direction: column;
        }
      }
    }
    .sessionCreatePart{
      display: none;
      flex-direction: column;
      align-items: center;
      .sessionInputBlock{
        display: flex;
        flex-direction: column;
      }
      .sessionGetBack{
        align-self: flex-start;
        justify-self: self-start;
        margin-left: 5vw;
      }
    }
    label{
      font-size: 20px;
      font-weight: bold;
    }
    input.sessionsDateInput{
      margin-top: 3vh;
      font-size: 25px;
      width: 20vw;
      cursor: pointer;
      padding: 5px;
      &:focus,
      &:active{
        outline: 2px solid rgb(33, 33, 116);
      }
    }
    .sessionListPart{
      display: none;
      // margin-top: 5vh;
      height: 100%;
      .sessionGetBack{
        // margin-bottom: -5vh;
        // margin-left: 5vw;
        // margin-bottom: 5px;
        height: 6vh;
      }
      .sessionTables{
        overflow-y: scroll;
        width: 100%;
        max-height: calc(100% - 5.5vh);
        // padding: 20px 40px;
        margin: 0 auto;
        .sessionContainer{
          max-width: 100%;
          margin-right:auto;
          margin-left:auto;
          display:flex;
          justify-content:center;
          align-items:center;
          border-radius: 13px;
          &:not(:first-child){
            margin-top: 15px;
          }
          cursor: pointer;
        }
        .sessionTable{
          width: 100%;
          border: 3px solid $color-form-highlight;
          border-radius: 13px;
        }
        .sessionTableHeader{
          display: flex;
          width: 100%;
          color: whitesmoke;
          background:  $session-table-header-background-color;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          padding: ($half-spacing-unit * 1.5) 0;
        }

        .sessionTableRow{
          display: flex;
          background: $session-table-row-bacground-color;
          width: 100%;
          padding: ($half-spacing-unit * 1.5) 0;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }
        .sessionTableData, .sessionHeaderItem{
          flex: 1 1 20%;
          text-align: center;
        }

        .sessionHeaderItem{
          text-transform: uppercase;
        }

        &::-webkit-scrollbar {
          width: 10px;
        }
        /* Track */
        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          border-radius: 10px;
          border-radius: 10px;
        }
        /* Handle */
        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          border-radius: 10px;
          background: rgb(121, 121, 121);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
  .sessionsInfoPart{
    height: 100%;
    // margin-top: 5vh;
    overflow: hidden;
    border-top: 1px solid rgb(36, 35, 35);
    flex: 1;
    transition: ease-out 200ms;
    // &:hover{
    //   flex: 2;
    //   transition: ease-in 200ms;
    // }

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .addNewSessionInfo{
      // align-self: flex-end;
      display: none;
      position: absolute;
      // display: flex;
      flex-direction: row;
      // bottom: 0;
      button{
        background-color: rgb(26, 201, 26);
        font-size: 24px;
        padding: 3px;
        width: 100px;
        // margin-bottom: 5vh;
        // margin-right: 1vw;
        border: 1px solid black;
        cursor: pointer;
      }
    }

    .sessionInfoList{
      display: none;
      margin-top: 5vh;
      height: calc(100% - 5vh);
      .sessionInfoTables{
        overflow-y: scroll;
        width: 100%;
        max-height: 100%;
        // padding: 15px 30px;
        // margin: 0 auto;
        .sessionInfoContainer{
          max-width: 100%;
          margin-right:auto;
          margin-left:auto;
          display:flex;
          justify-content:center;
          align-items:center;
          border-radius: 13px;
          &:not(:first-child){
            margin-top: 15px;
          }
          cursor: pointer;
        }
        .sessionInfoTable{
          width: 100%;
          border: 3px solid $color-form-highlight;
          border-radius: 13px;
        }
        .sessionInfoTableHeader{
          display: flex;
          font-size: 16px !important;
          width: 100%;
          color: whitesmoke;
          background:  $session-info-table-header-background-color;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          padding: ($half-spacing-unit * 1.5) 0;
        }

        .sessionInfoTableRow{
          display: flex;
          background: $session-info-table-row-bacground-color;
          width: 100%;
          // font-size: 24px;
          padding: ($half-spacing-unit * 1.5) 0;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }
        .sessionInfoTableData, .sessionInfoHeaderItem{
          flex: 1 1 20%;
          text-align: center;
        }

        .sessionInfoHeaderItem{
          text-transform: uppercase;
        }

        &::-webkit-scrollbar {
          width: 10px;
        }
        /* Track */
        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          border-radius: 10px;
          border-radius: 10px;
        }
        /* Handle */
        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          border-radius: 10px;
          background: rgb(121, 121, 121);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
  button.sessionAcceptButton{
    margin:10px auto;
    background-color: rgb(75, 204, 75);
    font-size: 24px;
    padding: 15px 0;
    width: 20vw;
    border: 1px solid black;
    cursor: pointer;
    outline: none;
  }
  button.getBackButton{
    background-color: rgb(165, 112, 42);
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid black;
    outline: none;
  }

  .sessionsInfoNewInputs{
    flex: 1;
    overflow: hidden;
    transition: ease-out 200ms;
    display: none;
    // display: flex;
    flex-direction: column;
    .sessionInfoNewGetBack{
      align-self: flex-start;
      button{
        background-color: rgb(165, 112, 42);
        border: 1px solid black;
        font-size: 20px;
        padding: 10px;
        cursor: pointer;
        // margin-top: 3vh;
        // margin-left: 2vw;
      }
    }
    .sessionInfoInputWrapper{
      align-self: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 65vw;
    }
    .sessionInfoInputBlock{
      display: flex;
      flex-direction: column;
    }

    input.sessionInfoNewInput{
      margin-top: 5px;
      font-size: 20px;
      width: 15vw;
      cursor: pointer;
      padding: 5px;
      height: 5vh;
      &:focus,
      &:active{
        outline: 2px solid rgb(33, 33, 116);
      }
    }
    select.sessionInfoSelectCurrency{
      background-color: white;
      font-size: 18px;
      padding: 5px;
      margin-top: 5px;
      height: 5vh;
      width: 15vw;
      border: 1px solid black;
      outline: none;
      text-align: center;
      cursor: pointer;
      option{
        outline: none;
        font-size: 16px;
        text-align: center;
        background: rgb(199, 199, 199);
        cursor: pointer;
        &:hover{
          cursor: pointer;
        }
      }
    }
    .submitSessionInfo{
      margin-top: 1vh;
      display: flex;
      flex-direction: row;
      justify-content: center;
      button{
        margin: 0 auto;
        background-color: rgb(75, 204, 75);
        border: 1px solid black;
        font-size: 34px;
        padding: 10px 20px;
        cursor: pointer;
        outline: none;
      }
    }
    // &:hover{
    //   flex: 2;
    //   transition: ease-in 200ms;
    // }

  }
  .sessionsInfoSearch{
    display: none;
    border-top: 1px solid rgb(36, 35, 35);
    flex: 1;
    overflow: hidden;
    transition: ease-out 200ms;
    .sessionsInfoSearchInputBlock{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: center;
      height: 20vh;
      margin-top: 10vh;
      input.infoSearchInput{
        font-size: 24px;
        padding: 10px;
        width: 20vw;
        border-radius: 2px;
        border: 1px solid black;
        cursor: pointer;
        &:active,
        &:focus{
          outline: 2px solid rgb(33, 33, 116);
        }
      }
      button.infoSearchSubmit{
        align-self: center;
        border: 1px solid black;
        border-radius: 2px;
        background-color: rgb(121, 121, 209);
        font-size: 24px;
        padding: 10px 20px;
        width: 20vw;
        outline: none;
        cursor: pointer;
        &:hover{
          border-width: 2px;
        }
      }
    }

    .sessionSearchResult{
      display: none;
      margin-top: 5vh;
      height: 100%;
      .sessionSearchTables{
        overflow-y: scroll;
        width: 100%;
        max-height: 100%;
        padding: 15px 30px;
        margin: 0 auto;
        .sessionSearchContainer{
          max-width: 100%;
          margin-right:auto;
          margin-left:auto;
          display:flex;
          justify-content:center;
          align-items:center;
          border-radius: 13px;
          &:not(:first-child){
            margin-top: 15px;
          }
          cursor: pointer;
        }
        .sessionSearchTable{
          width: 100%;
          border: 3px solid $color-form-highlight;
          border-radius: 13px;
        }
        .sessionSearchTableHeader{
          display: flex;
          font-size: 16px !important;
          width: 100%;
          color: whitesmoke;
          background:  $session-info-table-header-background-color;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          padding: ($half-spacing-unit * 1.5) 0;
        }

        .sessionSearchTableRow{
          display: flex;
          background: $session-info-table-row-bacground-color;
          width: 100%;
          // font-size: 24px;
          padding: ($half-spacing-unit * 1.5) 0;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }
        .sessionSearchTableData, .sessionSearchHeaderItem{
          flex: 1 1 20%;
          text-align: center;
        }

        .sessionSearchHeaderItem{
          text-transform: uppercase;
        }

        &::-webkit-scrollbar {
          width: 10px;
        }
        /* Track */
        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          border-radius: 10px;
          border-radius: 10px;
        }
        /* Handle */
        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          border-radius: 10px;
          background: rgb(121, 121, 121);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
        }
      }
    }
    .sessionSearchGetBack{
      display: none;
      position: absolute;
      button{
        background-color: rgb(165, 112, 42);
        border: 1px solid black;
        font-size: 20px;
        padding: 10px;
        cursor: pointer;
        // margin-top: 3vh;
        // margin-left: 2vw;
      }
    }
    // &:hover{
    //   flex: 2;
    //   transition: ease-in 200ms;
    // }
  }
}


ul.sessionsTable{
  margin: 0;
  padding: 0;
  border: 1px solid black;
  li{
    // cursor: pointer;
    position: relative;
    display: flex;
    // opacity: 0;
    flex-direction: row;
    justify-content: space-between;
    background: rgb(238, 169, 74);
    font-size: 16px;
    color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:nth-child(odd){
      background: rgba(156, 95, 9, 1);
      color: white;
    }
    &:not(.title){
      cursor: pointer;
      &:hover{
        background-color: #fff;
        color: black;
      }
    }
    .inventoryItemContainer{
      display: flex;
      flex-direction: row;
      width: 30vw;
      justify-content: space-between;
      p{
        font-size: 16px;
      }
    }
    .spanDiv{
      margin: 0;
      height: 100%;
    }
  }
  // .trans{
  //   opacity: 1;
  //   top: 0;
  // }
  li.title{
    color: black;
  }
  li.checked{
    background: #fff;
    color: black;
  }
}

ul#sessions{
  li{
    p{
      padding: 12px 16px !important;
      width: 20%;
      text-align: center;
    }
  }
}

ul#sessionsInfo{
  li{
    p{
      // padding: 12px 16px !important;
      padding: 10px 14px !important;
      font-size: 16px;
      width: 10%;
      overflow-x: auto;
      text-align: center;
    }
  }
}