/**
 * Set up a decent box model on the root element
 */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-size: 16px;
  font-family: "MyFontRoboto";
}

body {
  height: 100vh;
  overflow: hidden;
}

body nav {
  width: 100%;
  height: 9%;
}

body main {
  width: 100%;
  height: 91%;
}

@font-face {
  font-family: "MyFontRoboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

.treeViewContainer {
  overflow-y: scroll;
  overflow-x: hidden;
  direction: rtl;
  /* Let's get this party started */
  /* Track */
  /* Handle */
}

.treeViewContainer::-webkit-scrollbar {
  width: 10px;
}

.treeViewContainer::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border-radius: 10px;
}

.treeViewContainer::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border-radius: 10px;
  background: #0088a9;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.treeView {
  padding: 0 70px 0 0;
}

.treeView p {
  color: #0c0404;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.treeView p:hover {
  color: #e7e7e7;
}

.treeView p[data-isSelected="true"] {
  color: #e7e7e7;
}

.treeView .tv-cont li {
  padding-left: 30px;
}

.treeView .tv-cont span {
  padding: 2px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.treeView .tv-cont span::after {
  content: "\25B6";
  color: #000;
  display: inline-block;
  margin-right: 6px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.treeView .tv-cont span p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  font-size: 1.3rem;
}

.treeView .tv-cont span[data-isExpanded="false"]::after {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.treeView .tv-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1px 0;
}

.treeView .tv-product p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 1.1rem;
}

.treeView ul[data-isExpanded="true"] {
  display: block;
}

.treeView ul[data-isExpanded="false"] {
  display: none;
}

.login-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  position: relative;
}

.login-container .bg-img {
  background-image: url("../imgs/login_BG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-filter: saturate(20%) opacity(80%);
          filter: saturate(20%) opacity(80%);
}

.login-container form {
  width: 30%;
  height: 70%;
  padding: 20px 0;
  background-color: #3f3d3d;
  overflow: hidden;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-container form .app-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-container form .app-container h1 {
  color: #0088a9;
  font-weight: bold;
  font-size: 3rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.login-container form .app-container h2 {
  color: #ffffff;
  margin-top: 15px;
  font-size: 1.7rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.login-container form .data-container {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  width: 80%;
  position: relative;
}

.login-container form .data-container .invalidData {
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
  color: #f12222;
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.login-container form .data-container .username p,
.login-container form .data-container .password p {
  color: #000000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  pointer-events: none;
  font-size: 1.2rem;
  top: 50%;
  left: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.login-container form .data-container .username input,
.login-container form .data-container .password input {
  width: 100%;
  outline: none;
  border: none;
  background-color: #bbb7b7;
  font-size: 1.2rem;
  padding: 5px 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: black;
}

.login-container form .data-container .username input:focus,
.login-container form .data-container .password input:focus {
  background-color: #0e6636a9;
  color: black;
}

.login-container form .data-container .username input:focus + p,
.login-container form .data-container .password input:focus + p {
  top: -3px;
  left: -10px;
  color: #ffffff;
}

.login-container form .data-container input[data-active="true"] {
  background-color: #0e6636a9;
  color: black;
}

.login-container form .data-container input[data-active="true"] + p {
  top: -3px;
  left: -10px;
  color: #ffffff;
}

.login-container form .data-container .username {
  position: relative;
  padding: 10px 0;
}

.login-container form .data-container .password {
  position: relative;
  padding: 10px 0;
  margin-top: 10px;
}

.login-container form .btn-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.login-container form .btn-container button {
  font-size: 2rem;
  font-weight: bold;
  padding: 15px 25px;
  background-color: #0088a9;
  border-radius: 20px;
  border: none;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #000000;
  cursor: pointer;
}

.login-container form .btn-container button:hover {
  background-color: #0e6636;
  color: #ffffff;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #24252a;
}

nav .nav-links {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-links .nav-link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 6px 0;
  border-radius: 1px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

nav .nav-links .nav-link::after {
  content: "";
  display: block;
  position: absolute;
  right: 200%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #ffffff;
}

nav .nav-links .nav-link:hover::after {
  -webkit-animation: navUnderLine 0.4s 1 forwards;
          animation: navUnderLine 0.4s 1 forwards;
}

nav .nav-links .nav-link:hover p {
  color: #0088a9;
}

nav .nav-links .nav-link p {
  color: #edf0f1;
  font-weight: 500;
  font-size: 1.4rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

nav .nav-links .nav-link[data-hasDropdown="true"] {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .nav-links .nav-link[data-hasDropdown="true"]:hover .dropdown {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: calc(100% - 2px);
  opacity: 1;
}

nav .nav-links .nav-link[data-hasDropdown="true"]:hover::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #ffffff;
}

nav .nav-links .nav-link[data-hasDropdown="true"]::before {
  content: "\25B6";
  color: #0088a9;
  display: inline-block;
  margin-right: 6px;
  position: relative;
  top: 3px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

nav .nav-links .nav-link[data-hasDropdown="true"] .dropdown {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 0;
  background-color: #0087a97c;
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  overflow: hidden;
}

nav .nav-links .nav-link[data-hasDropdown="true"] .dropdown li {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 15px 10px;
  border-bottom: 2px solid #ffffffaf;
  border-right: 2px solid #ffffffaf;
  border-left: 2px solid #ffffffaf;
  border-collapse: collapse;
  background-color: #0087a97c;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .nav-links .nav-link[data-hasDropdown="true"] .dropdown li:first-child {
  border-top: 2px solid #ffffff;
}

nav .nav-links .nav-link[data-hasDropdown="true"] .dropdown li:hover {
  background-color: #0087a9;
}

nav .nav-links .nav-link[data-hasDropdown="true"] .dropdown li:hover p {
  color: #ffffff;
}

nav .nav-links .nav-link[data-hasDropdown="true"] .dropdown li p {
  color: #000000;
  font-size: 1.3rem;
  font-weight: 500;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  white-space: nowrap;
}

nav .nav-links .nav-link[data-active="true"] p {
  color: #0088a9;
}

nav .nav-links .nav-link[data-active="true"]::after {
  -webkit-animation: navUnderLine 0.6s 1 forwards;
          animation: navUnderLine 0.6s 1 forwards;
}

nav .settings-container {
  width: 15%;
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

nav .settings-container .settings {
  width: 100px;
  padding: 9px 14px;
  background-color: #0088a9;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

nav .settings-container .settings:hover {
  background-color: #a1e600;
}

nav .settings-container .settings:hover::after {
  background-color: #a1e600;
}

nav .settings-container .settings:hover p {
  color: #141414;
}

nav .settings-container .settings::after {
  content: "";
  display: block;
  width: 90%;
  height: 10px;
  background-color: #0088a9;
  position: absolute;
  top: calc(100% - 10px);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
}

nav .settings-container .settings p {
  color: #edf0f1;
  font-size: 1.3rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

nav .settings-container .settings[data-isClicked="true"] {
  width: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #a1e600;
  position: relative;
}

nav .settings-container .settings[data-isClicked="true"]::after {
  top: 100%;
  opacity: 1;
  background-color: #a1e600;
  width: 100%;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

nav .settings-container .settings[data-isClicked="true"] p {
  color: #141414;
}

nav .settings-container .dropdown {
  width: calc(100% - 15px);
  height: 0;
  top: 100%;
  left: 0;
  position: absolute;
  background-color: #a1e600;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
  overflow: hidden;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

nav .settings-container .dropdown li {
  background-color: #a1e600;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

nav .settings-container .dropdown li:hover {
  background-color: #679202;
}

nav .settings-container .dropdown li:hover p {
  color: black;
}

nav .settings-container .dropdown li p {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.623);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-weight: 400;
}

nav .settings-container .dropdown[data-isOpened="true"] {
  height: 400px;
}

@-webkit-keyframes navUnderLine {
  0% {
    width: 0;
    right: 200%;
  }
  100% {
    width: 100%;
    right: 0;
  }
}

@keyframes navUnderLine {
  0% {
    width: 0;
    right: 200%;
  }
  100% {
    width: 100%;
    right: 0;
  }
}

.dataTable {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  table-layout: fixed;
  border-collapse: collapse;
  background-color: #bdbdbd;
  width: 70%;
  height: 90%;
  margin: 0 auto;
}

.tbody {
  /* Track */
  /* Handle */
}

.tbody::-webkit-scrollbar {
  width: 10px;
}

.tbody::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border-radius: 10px;
}

.tbody::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border-radius: 10px;
  background: #0088a9;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.anbarInfo {
  background-color: #7c7c7c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.anbarInfo .treeViewContainer {
  background-color: rgba(110, 68, 9, 0.404);
  overflow-y: scroll;
  overflow-x: hidden;
  direction: rtl;
}

.anbarInfo .treeViewContainer .searchContainer {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.anbarInfo .treeViewContainer .searchContainer p {
  font-family: sans-serif;
  position: absolute;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 100;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.anbarInfo .treeViewContainer .searchContainer p::hover {
  color: #747171;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.anbarInfo .treeViewContainer .searchContainer #searchInputBox {
  direction: ltr;
  width: 100%;
  padding: 10px;
  font-size: 1.3rem;
  outline: none;
  border: 3px solid transparent;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: rgba(110, 68, 9, 0.404);
  font-weight: 500;
  color: #fff;
}

.anbarInfo .treeViewContainer .searchContainer #searchInputBox::-webkit-input-placeholder {
  color: #ffffff;
  font-weight: bold;
}

.anbarInfo .treeViewContainer .searchContainer #searchInputBox:-ms-input-placeholder {
  color: #ffffff;
  font-weight: bold;
}

.anbarInfo .treeViewContainer .searchContainer #searchInputBox::-ms-input-placeholder {
  color: #ffffff;
  font-weight: bold;
}

.anbarInfo .treeViewContainer .searchContainer #searchInputBox::placeholder {
  color: #ffffff;
  font-weight: bold;
}

.anbarInfo .treeViewContainer .searchContainer #searchInputBox:focus, .anbarInfo .treeViewContainer .searchContainer #searchInputBox:hover {
  border: 3px solid #09acec;
}

.currencyTableElement {
  border: 1px solid blue;
  padding: 8px;
  height: 30px;
}

td.currencyTableElement {
  width: 12%;
}

td.logsTableElement, th.logsTableElement {
  border: 1px solid blue;
  padding: 8px;
  height: 30px;
  width: 25%;
}
/*# sourceMappingURL=main.css.map */