// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
//                             Login Form Colors
// -----------------------------------------------------------------------------
$login-form-background-image-path: "../imgs/login_BG.jpg";
// Seet transparent if want img as background
$login-for-background-color: transparent;

$login-form-form-background-color: #3f3d3d;
$login-form-app-name-color: #0088a9;
$login-form-login-word-color: #ffffff;
$login-form-label-for-input-color: #000000;
$login-form-label-for-input-focus-color: #ffffff;
$login-form-input-background-color: rgb(187, 183, 183);
$login-form-input-background-focus-color: #0e6636a9;
$login-form-input-text-color: black;
$login-form-input-text-focus-color: white;

$login-form-submit-btn-background-color: #0088a9;
$login-form-submit-btn-background-hover-color: #0e6636;
$login-form-submit-btn-text-color: #000000;
$login-form-submit-btn-text-hover-color: #ffffff;

$login-form-wrong-data-info-text-color: rgb(241, 34, 34);

// -----------------------------------------------------------------------------
//                             Anbar Form Colors
// -----------------------------------------------------------------------------
// Nav bar Colors
$nav-bar-background-color: #24252a;
$nav-bar-items-text-color: #edf0f1;
$nav-bar-items-text-hover-color: #0088a9;
$nav-bar-items-underline-color: #ffffff;

$nav-bar-dropdown-background-color: #0087a97c;
$nav-bar-dropdown-items-background-color: #0087a97c;
$nav-bar-dropdown-items-background-hover-color: #0087a9;
$nav-bar-dropdown-items-border-color: #ffffffaf;
$nav-bar-dropdown-items-text-color: #000000;
$nav-bar-dropdown-items-text-hover-color: #ffffff;

$nav-bar-settings-button-background-color: #0088a9;
$nav-bar-settings-button-background-hover-color: #a1e600;
$nav-bar-settings-button-background-click-color: #a1e600;
$nav-bar-settings-button-text-color: #edf0f1;
$nav-bar-settings-button-text-hover-color: #141414;
$nav-bar-settings-button-text-click-color: #141414;

$nav-bar-settings-dropdown-background-color: #a1e600;
$nav-bar-settings-dropdown-item-background-color: #a1e600;
$nav-bar-settings-dropdown-item-background-hover-color: #679202;
$nav-bar-settings-dropdown-text-color: rgba(0, 0, 0, 0.623);
$nav-bar-settings-dropdown-text-hover-color: black;
