// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$primary-color: #188bc0;
$primary-color-shade1: #44b4e7;
$secondary-color: #ffffff;
$secondary-color-blured: rgb(136, 136, 136);
$stand-out-color: #ffd900; // Previous : #ffae00
$stand-out-color-blured: rgba(255, 174, 0, 0.692);
$dark-color: #24252a;

// -----------------------------------------------------------------------------
//                             Login Form Colors
// -----------------------------------------------------------------------------
$login-form-background-image-path: "../imgs/login_BG.jpg";
// Set transparent if want img as background
$login-for-background-color: transparent;

$login-form-form-background-color: $secondary-color;
$login-form-app-name-color: $primary-color;
$login-form-login-word-color: $dark-color;
$login-form-label-for-input-color: $dark-color;
$login-form-label-for-input-focus-color: $dark-color;
$login-form-input-background-color: $secondary-color-blured;
$login-form-input-background-focus-color: $primary-color;
$login-form-input-text-color: $secondary-color;
$login-form-input-text-focus-color: $secondary-color;

$login-form-submit-btn-background-color: $primary-color;
$login-form-submit-btn-background-hover-color: $stand-out-color;
$login-form-submit-btn-text-color: $dark-color;
$login-form-submit-btn-text-hover-color: $secondary-color;

$login-form-wrong-data-info-text-color: rgb(241, 34, 34);

// -----------------------------------------------------------------------------
//                             Anbar Form Colors
// -----------------------------------------------------------------------------
// Nav bar Colors
$nav-bar-background-color: $dark-color;
$nav-bar-items-text-color: $secondary-color;
$nav-bar-items-text-hover-color: $primary-color;
$nav-bar-items-underline-color: $secondary-color;
$nav-bar-has-dropdown-color: $primary-color;
$nav-bar-has-dropdown-hover-color: $secondary-color;

$nav-bar-dropdown-background-color: #0087a97c;
$nav-bar-dropdown-items-background-color: #0087a97c;
$nav-bar-dropdown-items-background-hover-color: #0087a9;
$nav-bar-dropdown-items-border-color: #ffffffaf;
$nav-bar-dropdown-items-text-color: #000000;
$nav-bar-dropdown-items-text-hover-color: #ffffff;

$nav-bar-settings-button-background-color: #0088a9;
$nav-bar-settings-button-background-hover-color: $stand-out-color;
$nav-bar-settings-button-background-click-color: $stand-out-color;
$nav-bar-settings-button-text-color: #edf0f1;
$nav-bar-settings-button-text-hover-color: #141414;
$nav-bar-settings-button-text-click-color: #141414;

$nav-bar-settings-dropdown-background-color: $stand-out-color;
$nav-bar-settings-dropdown-item-background-color: $stand-out-color;
$nav-bar-settings-dropdown-item-background-hover-color: $stand-out-color;
$nav-bar-settings-dropdown-text-color: rgba(0, 0, 0, 0.623);
$nav-bar-settings-dropdown-text-hover-color: black;

// Anbar Info colors
$anbar-info-background-color: $secondary-color;

$anbar-info-default-screeniInfo-info-text-color: $primary-color;

$anbar-info-tree-view-background-color: $primary-color-shade1;
$anbar-info-tree-view-scrollbar-color: $stand-out-color;
$anbar-info-tree-view-items-text-color: #000;
$anbar-info-tree-view-items-text-hover-color: $stand-out-color;
$anbar-info-tree-view-items-has-dropdown-color: #000;

$anbar-info-search-box-background-color: $primary-color;
$anbar-info-search-box-text-color: $secondary-color;
$anbar-info-search-box-sign-color: $secondary-color-blured;
$anbar-info-search-box-sign-hover-color: $secondary-color;
$anbar-info-search-box-placeholder-color: $secondary-color;
$anbar-info-search-box-border-color: transparent;
$anbar-info-search-box-border-hover-color: $secondary-color;

$anbar-info-data-dividing-line-color: $dark-color;

$anbar-info-small-nav-background-color: $anbar-info-search-box-background-color;
$anbar-info-small-nav-btn-background-color: #9cdef841;
$anbar-info-small-nav-btn-background-hover-color: #00aff541;
$anbar-info-small-nav-btn-background-clicked-color: $stand-out-color;
$anbar-info-small-nav-btn-border-color: $stand-out-color;
$anbar-info-small-nav-btn-border-clicked-color: $dark-color;
$anbar-info-small-nav-btn-text-color: $secondary-color;
$anbar-info-small-nav-btn-text-clicked-color: $secondary-color;

$anbar-info-overall-data-background-color: $anbar-info-small-nav-btn-background-clicked-color;
$anbar-info-overall-data-header-text-color: #000;
$anbar-info-overall-data-text-color: #000;
$anbar-info-overall-data-values-color: rgb(37, 33, 33);
$anbar-info-overall-data-values-hover-color: $secondary-color;

// Data table JAFAR
$dataTable-background-color: rgb(189, 189, 189);
