.inventory{
  display: flex;
  flex-direction: column;
}

.inventoryCenterPanel{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-self: center;
  justify-self: center;
  margin-top: 40vh;
}

.productInput{
  display: none;
  flex-direction: row;
  justify-content: space-between;
  width: 40vw;
  input{
    width: 15vw;
    padding: 5px;
  }
  border: 2px solid black;
  border-radius: 2px;
  padding: 15px 20px;
  &:not(:first-child){
    margin-top: 5px;
  }
}

.inventoryInputs{
  display: none;
  flex-direction: column;
  align-self: center;
  align-items: center;
  width: 60vw;
  max-height: 80vh;
  padding: 10px 15px;
  background-color: red;
  overflow-y: scroll;
}

.inventoryMaterialButton{
  border: none;
  border-radius: 4px;
  background-color: #6200EE;
  width: 7vw;
  height: 5vh;
  color: #fff;
  cursor: pointer;
  outline: none;
  margin: 5px;
  &:hover{
    background-color: #7e3ff2;
  }
  &:active{
    outline: none;
    background-color: #9965f4;
  }
}
