.inventory{
  display: flex;
  flex-direction: column;
}

.inventoryStart{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-self: center;
  margin-top: 40vh;
}

.productInput{
  display: none;
  flex-direction: row;
  justify-content: space-between;
  width: 40vw;
  input{
    width: 15vw;
    padding: 5px;
  }
  border: 2px solid black;
  border-radius: 2px;
  padding: 15px 20px;
  &:not(:first-child){
    margin-top: 5px;
  }
}

.inventoryInputs{
  display: none;
  flex-direction: column;
  align-self: center;
  align-items: center;
  width: 60vw;
  max-height: 80vh;
  padding: 10px 15px;
  background-color: red;
  overflow-y: scroll;
}